// Converted to pug by Jordan Lees
// Original html by Ryan Edwards
html
	head
		link(rel="stylesheet" href="/static/css/challengestyle.css?v=1")
		link(rel="stylesheet" href="/static/css/w3.css")
		link(rel="stylesheet" href="/static/css/style.css?v=1")
		link(rel="stylesheet" href="/static/css/codehighlight.css")
		script(src="/static/js/jquery.min.js")
		script(src="/static/js/lesson-challenge.js?v=1")
		script(src="/static/codemirror/codemirror-5.60.0/lib/codemirror.js")
		link(rel="stylesheet" href="/static/codemirror/codemirror-5.60.0/lib/codemirror.css")
		script(src="/static/codemirror/codemirror-5.60.0/mode/clike/clike.js" rel="stylesheet") 
		link(rel="stylesheet" href="/static/codemirror/codemirror-5.60.0/theme/dracula.css")
	body
		script.
			//variables used in  lesson-challenge.js script
			var lesson_id =  #{lesson_id}
			var unit_id = #{unit_id}
			var challenge_id = #{challenge_id}
			var num_Lessons = #{num_Lessons}

			var tut_unit_id = 0;
			var tut_lesson1_id = 8;
		style.
			.breadcrumbs{
				padding: 10px;
				font-family: sans-serif;
			}
			.breadcrumbs__item{
				display: inline-block;
			}
			.breadcrumbs__item:not(:last-of-type)::after{
				content: '/';
				margin: 0 5px;
			}
		.w3-auto
			h1 
				em.a(href='/') Learn Secure Coding
			// list of pages
			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href='/') Home
				li.breadcrumbs__item
					a.breadcrumbs__link(href='/unit/#{unit_id}/#{section}') Unit #{unit_id} Overview
				li.breadcrumbs__item
					a.breadcrumbs__link(href='/unit/#{unit_id}/#{section}/#{lesson_id}') Challenge
		p 
		div(class="w3-container")
			div(class="challengeBox w3-panel w3-card w3-white w3-padding-16")
				div(class="w3-auto")
					div(id="lessonTitle")
						h2 
							em Lesson: #{lesson_title}
					div(class="")
						div!=lesson_material
					div(class="gotochallengebutton")
						div(id="scrollToChallenge")
							button(type="button", id = "btnScrollChallenge") Scroll to Challenge
			div(class="codeEnter", id="codeEnter")
				div(class="w3-card")
					//-pre
						For block text (or for scripts), put a . after the tag name
						code.
							#include &lt;stdio.h&gt;
							int main() {
								printf() displays the string inside quotation
								printf("Hello, World!");
								return 0;
							}
					form(name="code-enter", method="post")
						div.input
						//- to make a block of text (or for scripts), put a . at the end
						textarea(name="code", id="codeArea").
									#{challenge_code}
						script.
							var lesson_cookie = 'savedCode_lesson' + lesson_id;
							var saved_text = localStorage.getItem(lesson_cookie);
							if (saved_text !== null) {
								document.getElementById('codeArea').value = saved_text;
							}
							var editor = CodeMirror.fromTextArea
							(document.getElementById('codeArea'),{
								mode: "clike",		
								theme: "dracula",
								lineNumbers: true
								//height: "auto"
								//width: "auto"
							});
							editor.setSize("auto","auto");
			div(class="infoPanel w3-rest")
				div(class="w3-center")
					div(id="submitcode" class="infoPanelButton")
						button(type="button" id="btnSubmitCode") Submit Code
					div(id='scrollToLesson' class="infoPanelButton")
						button(type = "button", id= "btnScrollLesson") Scroll to Lesson
					div(id='resetChallenge' class="infoPanelButton")
						button(type = "button", id = "btnReset") Reset Challenge
				div(class="hints w3-col")
					div(class="w3-panel w3-card")
						p(id="response_text") 
							i Response and hints will appear here.
						div(id="proceed" class="infoPanelButton")
							button(type="button",id = "btnProceed", disabled = "true") Proceed
				div(id="backtounit" class="infoPanelButton")
					button(type="button", id="btnUnit") Return to Unit Overview
