// Converted to pug by Jordan Lees
// Original html by Ryan Edwards
html
	head
		link(rel="stylesheet" href="/static/css/challengestyle.css")
		link(rel="stylesheet" href="/static/css/w3.css")
		script(src="/static/js/jquery.min.js")
		script(src="/static/js/lesson-challenge.js")
	body
		script.
			var lesson_id =  #{lesson_id}
			var unit_id = #{unit_id}
			var challenge_id = #{challenge_id}
		style.
			.breadcrumbs{
				padding: 10px;
				font-family: sans-serif;
			}
			.breadcrumbs__item{
				display: inline-block;
			}
			.breadcrumbs__item:not(:last-of-type)::after{
				content: '/';
				margin: 0 5px;
			}
		// list of pages
		ul.breadcrumbs
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/') Home
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/unit/#{unit_id}/lessons') Unit 1 Overview
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/unit/#{unit_id}/lessons/#{lesson_id}') Challenge
		div(class="lessonTitle", id="lessonTitle")
			h1 Learn Secure Coding
			p 
		p 
		div(class="w3-container")
			div(class="challengeBox")
				div(class="w3-panel w3-card")
				h3 
					em Lesson: foo bar
				p
					p #{lesson_material}
			div(class="gotochallengebutton")
				div(id="scrollToChallenge")
					button(type="button", id = "btnScrollChallenge") Scroll to Challenge
			div(class="codeEnter")
				div(class="w3-panel w3-card")
				//-pre
					For block text (or for scripts), put a . after the tag name
					code.
						#include &lt;stdio.h&gt;
						int main() {
							printf() displays the string inside quotation
							printf("Hello, World!");
							return 0;
						}
				form(name="code-enter", method="post")
					div.input
					//- to make a block of text (or for scripts), put a . at the end
					textarea(name="code", id="codeArea" cols="80", rows="20").
						#{challenge_code}
			div(id="submitcode")
				button(type="button" id="btnSubmitCode") Submit Code
			div(id="backtounit")
				button(type="button", id="btnUnit") Back To Unit
			div(id='scrollToLesson')
				button(type = "button", id= "btnScrollLesson") Scroll to Lesson
			div(id='resetChallenge')
				button(type = "button", id = "btnReset") Reset Challenge
			div(class="hints")
				div(class="w3-panel w3-card")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					div(id="proceed")
						button(type="button" onclick="alert('Proceed TEMP')") Proceed