head
	script(src="/static/js/jquery.min.js")
	link(rel="stylesheet" href="/static/css/challengestyle.css")
	link(rel="stylesheet" href="/static/css/w3.css")
	link(rel='stylesheet' href='/static/css/style.css')
	title Learn Secure Coding: Unit Overview
	style.
		.breadcrumbs {
		padding: 10px;
		font-family: sans-serif;
		}
		.breadcrumbs__item{
		display: inline-block;
		}
		.breadcrumbs__item:not(:last-of-type)::after {
		content: '/';
		margin: 0 5px;
		}
body
	.w3-auto
		h1
			em Learn Secure Coding
		ul.breadcrumbs
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/') Home
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/unit/#{unit_id}/#{section}') Unit Containing CWE-125
		hr
		div(class="w3-center")
			h2 Out-of-Bounds Reading and Writing
			h5	This unit will cover out-of-bounds reading and writing.
		.container
			p Language: C
			p Lessons: 1
			p Difficulty: 4
		hr 
		.lesson_list
			- var classList = "animate-background clickable w3-show-block w3-card w3-white w3-padding w3-section w3-hover-light-gray"
			//Work around code below due to certain missing pieces of functionality in PyPugJS that would be available in PugJS.
			//Javascript loops aren't functioning correctly in PyPugJS. Can't pass array of lesson_ids into PyPugJS loop. 
			//The array should contain numbers 1 - n, where n is the the most amount of lessons in any unit.
			ul 
				each val in [1,2,3,4,5,6,7]
					if val <= numLessons
						a(class=classList href='/unit/#{unit_id}/#{section}/#{val}')
							div
								| Lesson #{val}: #{titles[val - 1]}
								br
							p.indent.no-underline #{descriptions[val - 1]}